.sec-proj.section-proj-5.mt-5.container
  .row
    .section-proj-5__item.col-sm-3.col-6
      img.section-proj-5__image.img-fluid(src=src+'images/icon-overal-area.svg')
      .section-proj-5__value #{project.area.contruction.value}
      .section-proj-5__desc #{project.area.contruction.desc}
    .section-proj-5__item.col-sm-3.col-6
      img.section-proj-5__image.img-fluid(src=src+'images/icon-tree-and-lake.svg')
      .section-proj-5__value #{project.area.greenery.value}
      .section-proj-5__desc #{project.area.greenery.desc}
    .section-proj-5__item.col-sm-3.col-6
      img.section-proj-5__image.img-fluid(src=src+'images/icon-continuous-villa.svg')
      .section-proj-5__value #{project.area.mansion.value}
      .section-proj-5__desc #{project.area.mansion.desc}
    .section-proj-5__item.col-sm-3.col-6
      img.section-proj-5__image.img-fluid(src=src+'images/icon-continuous-apartment.svg')
      .section-proj-5__value #{project.area.apartment.value}
      .section-proj-5__desc #{project.area.apartment.desc}