- vi = projectData.dataVi.section3
- en = projectData.dataEn.section3
- lang === 'vi' ? dataLang = vi : dataLang = en

.sec-proj.section-proj-3.mt-5.container#info
  .row
    .section-proj-3__item.col-12.col-sm-4
      .section-proj-3__item__title !{dataLang.model}
      .section-proj-3__item__content #{project.info.model}
    .section-proj-3__item.col.col-12.col-sm-4
      .section-proj-3__item__title !{dataLang.investor}
      .section-proj-3__item__content !{project.info.investor}
    .section-proj-3__item.col.col-12.col-sm-4
      .section-proj-3__item__title !{dataLang.price}
      .section-proj-3__item__content !{project.info.price}