.sec-proj.section-proj-2.mt-4.container-fluid#intro
  .row
    .section-proj-2__title.col-md-8
      .section-proj-2__title__name #{project.name}
      .section-proj-2__title__address
        .section-proj-2__title__address__icon.d-inline
          i.fa.fa-map-marker
        .section-proj-2__title__address__txt.d-inline #{project.address}
    .section-proj-2__social.col-md-4.pt-3
      a(href=project.website).section-proj-2__social__website.d-inline-block
        i.fa.fa-globe
      a(href=project.facebook).section-proj-2__social__facebook.d-inline-block.mr-4.ml-4
        i.fa.fa-facebook
      a(href=project.youtube).section-proj-2__social__youtube.d-inline-block
        i.fa.fa-youtube-play