.sec-proj.section-proj-5.mt-5.container
  .row
    .section-proj-5__item.col
      .section-proj-5__image
      .section-proj-5__value #{project.area.contruction.value}
      .section-proj-5__desc #{project.area.contruction.desc}
    .section-proj-5__item.col
      .section-proj-5__image
      .section-proj-5__value #{project.area.greenery.value}
      .section-proj-5__desc #{project.area.greenery.desc}
    .section-proj-5__item.col
      .section-proj-5__image
      .section-proj-5__value #{project.area.mansion.value}
      .section-proj-5__value #{project.area.mansion.desc}
    .section-proj-5__item.col
      .section-proj-5__image
      .section-proj-5__value #{project.area.apartment.value}
      .section-proj-5__value #{project.area.apartment.desc}