.sec.section.section-6(data-anchor="flow")
  .container-fuild
    ul.section-6__list.list-inline
      li.section-6__list_1.list-inline-item.section-6__li(onclick="void(0)")
        h3.title Dành cho nhà phân phối <br> & Chủ đầu tư (coming soon)
        ul.section-6__boxHover.list-inline
          li.list-inline-item
            .line.lineNumber 1
            .line.lineTxt
              .icon
                img(src=src+'images/icon-signupaccount.svg')
              .lineTitle Đăng ký tài khoản tại website
              .lineDes Bạn sẽ cần cung cấp những thông tin cơ bản
          li.list-inline-item
            .line.lineNumber 2
            .line.lineTxt
              .icon
                img(src=src+'images/icon-update-listing.svg')
              .lineTitle Cập nhật dự án bất động sản
              .lineDes Bạn có thể sử dụng template được thiết kế sẵn. Danh sách các dự án có thể cập nhật không giới hạn.
      li.section-6__list_2.list-inline-item.section-6__li(onclick="void(0)")
        h3.title Dành cho Khách hàng <br> & Nhà đầu tư (coming soon)
        ul.section-6__boxHover.list-inline
          li.list-inline-item
            .line.lineNumber 1
            .line.lineTxt
              .icon
                img(src=src+'images/icon-search.svg')
              .lineTitle Tìm kiếm và chia sẻ
              .lineDes Thỏa sức khám phá với tất cả danh mục bất động sản trên website
          li.list-inline-item
            .line.lineNumber 2
            .line.lineTxt
              .icon
                img(src=src+'images/icon-signupaccount.svg')
              .lineTitle Đăng ký để lưu trữ và cá nhân hóa
              .lineDes Lưu lại thông tin bạn ưa thích, cũng như lựa chọn phương thức thanh toán phù hợp.
          li.list-inline-item
            .line.lineNumber 3
            .line.lineTxt
              .icon
                img(src=src+'images/icon-airplane.svg')
              .lineTitle Liên hệ với đại lý kinh doanh
              .lineDes Bạn có thể trực tiếp liên hệ với đại lý kinh doanh từ website và yêu cầu được trao đổi thông tin.
    