- vi = homeData.section6.dataVi
- en = homeData.section6.dataEn
- lang === 'vi' ? data = vi : data = en

.sec.section.section-6(data-anchor="flow")
  .container-fuild
    ul.section-6__list.list-inline
      each item, index in data.listData
        - i = index + 1
        li.list-inline-item.section-6__li(class=`section-6__list_${i}`)
          h3.title !{item.title}
          ul.section-6__boxHover.list-inline
            each array, index in item.list
              - x = index + 1
              li.list-inline-item
                .line.lineNumber #{x}
                .line.lineTxt
                  .icon
                    img(src=`${src}images/${array.icon}`)
                  .lineTitle !{array.txt}
                  .lineDes !{array.des}