.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .section-5__title.text-center #{homeData.section4.titleVi}
    .multiple-snap
      each item in homeData.section4.slideVi
        .snapBox
          .projectBox
            a.projectBoxLink(href=`./${item.link}`)
              .slideTitle=item.name
              .slideDes=item.des
            img.w-100(src=src+'images/'+item.img)