- vi = homeData.section4.dataVi
- en = homeData.section4.dataEn
- lang === 'vi' ? dataLang = vi : dataLang = en

.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .section-5__title.text-center #{dataLang.title}
    .multiple-snap
      each item in dataLang.slide
        .snapBox
          .projectBox
            a.projectBoxLink(href=`./${item.link}`, target="_blank")
              .slideTitle=item.name
              .slideDes=item.des
            img.w-100(src=src+'images/'+item.img)