.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .multiple-snap
      .snapBox
        .projectBox
          img.img-fluid(src=src+'images/pro_img_1.jpg')
      .snapBox
        .projectBox
          img.img-fluid(src=src+'images/pro_img_2.jpg')
      .snapBox
        .projectBox
          img.img-fluid(src=src+'images/pro_img_3.jpg')
      .snapBox
        .projectBox
          img.img-fluid(src=src+'images/pro_img_3.jpg')


      //- .snapBox
      //-   .projectBox asd
      //-     img.img-fluid(src=src+'images/pro_img_1.jpg')
      //- .snapBox
      //-   .projectBox asd
      //-     img.img-fluid(src=src+'images/pro_img_2.jpg')
      //- .snapBox
      //-   .projectBox asd
      //-     img.img-fluid(src=src+'images/pro_img_3.jpg')
    
      

