- vi = homeData.section4.dataVi
- en = homeData.section4.dataEn
- lang === 'vi' ? data = vi : data = en

.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .section-5__title.text-center #{data.title}
    .multiple-snap
      each item in data.slide
        .snapBox
          .projectBox
            a.projectBoxLink(href=`./${item.link}`)
              .slideTitle=item.name
              .slideDes=item.des
            img.w-100(src=src+'images/'+item.img)