- vi = footerData.dataVi
- en = footerData.dataEn
- lang === 'vi' ? data = vi : data = en

footer.sec.section.fp-auto-height
  .container
    .row
      .col-12.col-sm-6
        h3.title !{data.company}
        p !{data.address}
        p !{data.tel}
        p !{data.mail}
        p !{data.web}
      .col-12.col-sm-6
        ul.social-list.list-inline
          li.list-inline-item
            a.social-list__facebook
              i.fa.fa-facebook
          li.list-inline-item
            a.social-list__youtube
              i.fa.fa-youtube-play
          li.list-inline-item
            a.social-list__pinterest
              i.fa.fa-pinterest-p
    .txtFooter.text-center (c) VIREX - All right reserved
